[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.*~
sessions/
backups/
resurrect/
vim/bundle/*
!vim/bundle/Vundle.vim
tmux/plugins/*
!tmux/plugins/tpm
.DS_Store
bin/apache-maven-3.5.0
gitconfig
