// Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin vertical-gradient($color1, $color2, $colorSolid) {
    background-color: $colorSolid;
    background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, $color1, $color2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(top, $color1, $color2); /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, $color1, $color2); /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, $color1, $color2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#{$color1}", endColorstr="#{$color2}"); /* IE 6-9 */
}

@mixin horizontal-gradient($color1, $color2, $colorSolid) {
    background-color: $colorSolid;
    background-image: -webkit-gradient(linear, left top, right top, from($color1), to($color2)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(left, $color1, $color2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(left, $color1, $color2); /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(left, $color1, $color2); /* Opera 11.10-12.00 */
    background-image: linear-gradient(to right, $color1, $color2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr="#{$color1}", endColorstr="#{$color2}"); /* IE 6-9 */
}

@mixin gradient4($color1, $stop1, $color2, $stop2, $color3, $stop3, $color4, $stop4, $colorSolid) {
    background-color: $colorSolid;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop($stop1,$color1), color-stop(8%,$color2), color-stop($stop3,$color3), color-stop($stop4,$color4)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2, $color3 $stop3, $color4 $stop4); /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4); /* Opera 11.10-12.00 */
    background: -ms-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4); /* IE10+ */
    background-image: linear-gradient(to bottom, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 ); /* IE 6-9 */
}

@mixin gradient5($color1, $stop1, $color2, $stop2, $color3, $stop3, $color4, $stop4, $color5, $stop5, $colorSolid) {
    background-color: $colorSolid;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop($stop1,$color1), color-stop(8%,$color2), color-stop($stop3,$color3), color-stop($stop4,$color4), color-stop($stop5,$color5)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4,$color5 $stop5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2, $color3 $stop3, $color4 $stop4, $color5 $stop5); /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4,$color5 $stop5); /* Opera 11.10-12.00 */
    background: -ms-linear-gradient(top, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4,$color5 $stop5); /* IE10+ */
    background-image: linear-gradient(to bottom, $color1 $stop1,$color2 $stop2,$color3 $stop3,$color4 $stop4,$color5 $stop5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color5}',GradientType=0 ); /* IE 6-9 */
}

@mixin box-shadow($horizontalShift, $verticalShift, $blur, $spread, $rgba) {
    -moz-box-shadow: $horizontalShift $verticalShift $blur $spread $rgba;
    -webkit-box-shadow: $horizontalShift $verticalShift $blur $spread $rgba;
    box-shadow: $horizontalShift $verticalShift $blur $spread $rgba;
}

@mixin shadow-inset($horizontalShift, $verticalShift, $blur, $spread, $rgba) {
        -moz-box-shadow: inset $horizontalShift $verticalShift $blur $spread $rgba;
     -webkit-box-shadow: inset $horizontalShift $verticalShift $blur $spread $rgba;
             box-shadow: inset $horizontalShift $verticalShift $blur $spread $rgba;
}

@mixin shadow-none() {
        -moz-box-shadow: none;
     -webkit-box-shadow: none;
             box-shadow: none;
}

@mixin placeholder-color($color) {
    ::-webkit-input-placeholder {
       color: $color;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $color;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $color;  
    }

    :-ms-input-placeholder {  
       color: $color;  
    }
}

@mixin override-transition() {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

@mixin fullPageBG($image) {
    background: url($image) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}